* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--nomina);
    background-color: #FBF4F5;   
    overflow-x: hidden; 
}
:root {
    --primaryBase: #FFB6C1;
    --white: #FFFFFF;
    --primary-40: #DE8C99;
    --primary-30: #FBF4F5;
    --primary-10: #FFE8EC;
    --textColor: #332427;
    --black-40: #414141;
    --black-30: #707070;
    --black-20: #A0A0A0;
    --whiteStroke: #CFCFCF;
    
    /* Fonts */
    --calesta: "Calesta";
    --nomina: "Nomina";

    --boxShadow: 0px 4px 8px #FFE8EC;
}
@font-face {
    font-family: "Calesta";
    src: url(../fonts/calesta/Calesta.ttf);
}
@font-face {
    font-family: "Nomina";
    src: url(../fonts/nomina/Nomina\ Trial.otf);
}
header{
    height: 50vh;
}
.navbar-custom {
    margin: 1rem auto;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: var(--boxShadow);
}
.navbar-brand-custom {
    font-family: var(--calesta);
    color: #332427;
    font-weight: bold;
}
.navbar-brand-custom span {
    font-family: var(--calesta);
    color: var(--primaryBase);
}
.nav-link-custom {
    color: #332427;
    padding: 0 15px;
}
.nav-link-custom:hover {
    color: var(--primaryBase);
}
.btn-custom {
    background-color: var(--primaryBase);
    color: var(--textColor);
    font-size: .8rem;
    font-weight: 700;
    border: 1px solid var(--black-40);
    border-radius: 20px;
    padding: 5px 15px;
}
.btn-custom:hover {
    background-color: var(--primaryBase);
    color: var(--white);
}
.nav-icons{
    margin-right: 5rem;
}
.nav-icons i {
    margin-left: .7rem;
    cursor: pointer;
}
.nav-icons a {
    margin-right: 15px;
    color: var(--textColor);
}
.nav-icons a:hover {
    color: var(--primaryBase);
}
.btn-click{
    border: 1px solid var(--primary-40);
    color: var(--textColor);
}
.btn-click:hover{
    border: 1px solid var(--primary-40);
    background-color: var(--primary-10);
    color: var(--textColor);
}
.btn-click:focus{
    background-color: var(--primaryBase);
    color: var(--textColor);
}
.heading-title{
    margin-top: 4rem;
    font-family: var(--calesta);
}
.s1-bg{
    width: 130%;
    margin-top: 5rem;
    margin-left: -10rem;
}

/* Section-1 */
.Section-1 {
    position: relative;
    padding: 20px;
    text-align: center;
    margin-top: -5rem;
}

.title-wrapper{
    margin-left: -80rem;
    margin-top: -2rem;
}
.s1-bg {
    width: 130%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
}
.s1-bg2{
    width: 150%;
    height: 50vh;
    background-color: var(--primary-10);
    margin-top: -20rem;
    margin-left: -10rem;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.s1-title {
    font-weight: 700;
    margin-top: 12rem;
    position: relative;
}

.s1-title h3 {
    float: left;
    font-size: 2rem;
    color: var(--textColor);
}

.s1-products{
    color: var(--textColor);
    text-align: left;
}
.s1-products > img{
    margin-bottom: 1rem;
}
.s1-products > h4, span{
    font-family: var(--calesta);
}
.s1-products > span{
    color: var(--black-40);
}
.s1-products > button{
    background-color: var(--primaryBase);
    color: var(--textColor);
    font-weight: 700;
    border: 1px solid var(--textColor);
    padding: 15px;
    border-radius: 2rem;
    cursor: pointer;
}

.button{
    font-weight: 700;
    margin-top: -1rem;
    background: var(--primaryBase);
    color: var(--textColor);
    border: 1px solid var(--primary-40);
    border-radius: 2rem;
    box-shadow: var(--boxShadow);
}
/* End Section-1 */

/* Start Section-2 */

.Section-2{
    margin-top: 5rem;
}
.card-body{
    margin: 0;
    padding: 0;
}
.card-body h5{
    font-size: larger;
}
.product-card {
    margin-bottom: 2.5rem;
    background: none;
    border: none;
}
.product-image {
    border: 2px dashed var(--primary-40);
    max-height: 17rem;
    object-fit: fill;
}
.product-title {
    font-family: var(--calesta);
    font-size: 20px;
    margin: 10px 0;
    margin-bottom: 1.5rem;
}
.product-price {
    font-weight: bolder;
    font-family: var(--nomina);
    color: var(--textColor);
    margin-bottom: 10px;
}
.product-icons i {
    margin: 0 5px;
    border:1px solid #DE8C99;
    border-radius: .5rem;
    padding: 1rem .5rem;
    color: var(--primary-40);
    cursor: pointer;
}
.Wrapper{
    justify-content: space-between;
}

.banner{
    background-color: #C78500;
}
.banner-text{
    color: var(--white);
    font-family: var(--calesta);
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-top: 10rem;
}
.Check-out{
    background-color: var(--primaryBase);
    color: var(--textColor);
    font-weight: 700;
    border: 1px solid var(--textColor);
    padding: 15px;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: var(--boxShadow);
    margin: 0 auto;
    margin-bottom: 5rem;
}
@media (min-width: 1200px) {
    .col-xl-5th {
        flex: 0 0 20%;
        max-width: 20%;
    }
}
/* End Section-2 */

/* Start Footer */
footer{
    background: var(--primary-10);
}
.navigation{
    float: right;
}
.navigation a{
    text-decoration: none;
    color: var(--textColor);
    line-height: 2rem;
}
/* End Footer */





/* cart */  
.nav-head{
    background-color: var(--primary-10);
    height: 10rem;
    padding-top: 2rem;
}
  img {
    max-width: 100%;
    height: auto;
  }
  
  .product-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #777;
  }
  
  .product-price {
    font-size: 1.5rem;
    color: #d9534f;
    font-weight: bold;
  }
  
  .product-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
  }
  
  ul {
    padding-left: 1.2rem;
  }
  
  ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  
  .related-products img {
    max-width: 100%;
    height: auto;
  }
  
  .related-products h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .related-products .d-flex {
    gap: 1rem;
  }
  
  .related-products p {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
  }
  
  .additional-info {
    background-color: rgba(rgba(255, 83, 229, 0.464));
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .additional-info-title, .reviews-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  hr {
    margin: 0.5rem 0;
  }

  .overlay{
    background-color: var(--white);
    display: none;
    position: absolute;
    padding: 5rem;
    z-index: 999;
  }
  .overlay-bg{
    background-color: #5555556c;
    width: 100vw;
    height: 87rem;
    position: absolute;
    z-index: -1;    
    margin-left: -47rem;
    margin-top: -20rem   
  }
  
  .btn-outline-secondary {
    border: 1px solid #ced4da;
    background-color: white;
    width: 100%;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
    width: 100%;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
